/* ~~ form.css ~~ */

.form {
    margin-bottom: 10px;
}

.form__fieldset {
    background-color: #fff;
    border: solid 1px #eee;
    padding: 15px;
}

.form__fieldset--input {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 800px) {
    .form__fieldset--input {
        flex-direction: column;
    }
}

.form__label {
    font-weight: 700;
    font-size: 20px;
}

.form__input {
    border: solid 1px #ddd;
    padding: 5px;
    flex: 1 1 auto;
    margin: 10px;
    /*   margin-right: 20px; */
}

.form__button {
    display: flex;
    justify-content: center;
    align-content: center;
    color: #fff;
    border: none;
    padding: 5px;
}

.form__button--add {
    background-color: teal;
    padding: 10px;
    margin: 10px;
}

.form__button--done {
    background-color: green;
    height: 28px;
}

.form__button--remove {
    background-color: crimson;
}

.form__list {
    list-style-type: none;
    padding-inline-start: 0px;
    width: 100%;
    margin: 0 auto;
}

.form__listItem {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 28px 1fr 28px;
    align-items: center;
    padding: 6px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #ddd;
}

.form__listItemContent--done {
    text-decoration: line-through;
}