.section {
    margin-bottom: 10px;
}

.section__header {
    background-color: #fff;
    padding: 15px;
    font-weight: 700;
    font-size: 20px;
    margin: 0 0 1px 0;
}

.section__headerContainer {
    display:grid;
    grid-template-columns: 1fr auto auto;
    gap: 20px;
    align-items: center;
    background-color: #fff;
    padding-right: 20px;
    margin: 0 0 1px 0;
}

/* @media (max-width:800px) {
    .section__headerContainer {
        grid-template-columns: 1fr;
        justify-content: center;
    }
} */

.section__headerButton {
    color: teal;
    font-weight: 400;
    background-color: #fff;
    border: none;
}

.section__headerButton--hidden {
    display: none;
}

.section__headerButton:hover {
    color: hsl(180, 100%, 35%);
}

.section__headerButton:disabled {
    color: #ccc;
}
